:root {
  --font-stack: "Inter", sans-serif;
  --font-size-xsmall: 11px;
  --font-size-small: 12px;
  --font-size-large: 13px;
  --font-size-xlarge: 14px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-line-height: 16px;
  --font-line-height-large: 24px;
  --font-letter-spacing-pos-xsmall: .005em;
  --font-letter-spacing-neg-xsmall: .01em;
  --font-letter-spacing-pos-small: 0;
  --font-letter-spacing-neg-small: .005em;
  --font-letter-spacing-pos-large: -.0025em;
  --font-letter-spacing-neg-large: .0025em;
  --font-letter-spacing-pos-xlarge: -.001em;
  --font-letter-spacing-neg-xlarge: -.001em;
  --border-radius-small: 2px;
  --border-radius-med: 5px;
  --border-radius-large: 6px;
  --shadow-hud: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
  --shadow-floating-window: 0 2px 14px rgba(0, 0, 0, 0.15);
  --size-xxxsmall: 4px;
  --size-xxsmall: 8px;
}

body {
  margin: 0;
  font-family: var(--font-stack);
  -webkit-font-smoothing: antialiased;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}

::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  padding: 0 1px;
  background: var(--figma-color-bg);
  border-left: 1px solid var(--figma-color-border);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--figma-color-border);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.9') format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.9') format('woff');
}

button {
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
}

#create {
  box-shadow: none;
  background: #0D99FF;
  color: white;
}

input {
  border: none;
  outline: none;
  padding: 8px;
}

input:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

button:focus {
  box-shadow: inset 0 0 0 1px transparent;
}

#create:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
}

input:focus {
  box-shadow: inset 0 0 0 1px #0D99FF;
}



#react-page {}

.figma-light body {
  background-color: white;
  color: blue;
}

.figma-dark body {
  background-color: black;
  color: red;
}

.searchicon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
}

.left-icon {
  display: flex;
  align-items: center;
}

.left-icon span {
  color: var(--figma-color-icon-disabled);
  margin-left: 8px;
  font-size: var(--font-size-xsmall);
  font-weight: 600;
}

