body {
  margin: 0;
  font-family: Inter,sans-serif;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.9')
        format('woff2'),
      url('https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.9')
        format('woff');
}
  
  button {
    border-radius: 5px;
    background: white;
    color: black;
    border: none;
    padding: 8px 15px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
  }
  #create {
    box-shadow: none;
    background: #0D99FF;
    color: white;
  }
  input {
    border: none;
    outline: none;
    padding: 8px;
  }
  input:hover { box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
  button:focus { box-shadow: inset 0 0 0 2px #0D99FF; }
  #create:focus { box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3); }
  input:focus { box-shadow: inset 0 0 0 2px #0D99FF; }



  #react-page{
    
  }

  .figma-light body {
    background-color: white;
    color: blue;
  }
  
  .figma-dark body {
    background-color: black;
    color: red;
  }

  .searchicon{
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
  }

  .left-icon{

  }
  .right-link{
     
  }